<mat-tab-group dynamicHeight>


  <mat-tab label="Add Task">
    <div layout-align='center center' layout='column'>
      <div>
        Task Name
        &nbsp;
        &nbsp;
        <mat-form-field class="example-full-width">

          <input matInput placeholder="" value="">

        </mat-form-field>


      </div>
      <div>
        Priority
        &nbsp;
        &nbsp;
        <mat-slider></mat-slider>

      </div>


      <div>
        Parent Task
        &nbsp;
        &nbsp;
        <mat-form-field class="example-full-width">

          <input matInput placeholder="" value="">

        </mat-form-field>


      </div>

      <div>
        Start Date
        &nbsp;
        &nbsp;
        <mat-form-field class="example-full-width">

          <input matInput placeholder="" value="">

        </mat-form-field>


      </div>

      <div>

        <div>
          End Date
          &nbsp;
          &nbsp;
          <mat-form-field class="example-full-width">

            <input matInput placeholder="" value="">

          </mat-form-field>


        </div>







      </div>

      <div>
        &nbsp;
        &nbsp;

        <button mat-button>Add Task</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <button mat-button>Reset</button>
      </div>

    </div>
    <!-- <div class="container"
      fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">

      <div class="task_name" fxflex="10%"> 

         Task         : <input matInput name="taskname" placeholder="" value="">
       

      </div>
      <div class="priority" fxflex="10%"> 

      <mat-card>Simple card</mat-card>
      <mat-slider></mat-slider>
        
        
 
       </div>

      </div> -->



  </mat-tab>


  <mat-tab label="View Task">

      <mat-grid-list cols="4" rowHeight="2:1">
          <mat-grid-tile>
              Task :
          </mat-grid-tile>
       
          <mat-grid-tile>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="" value="">
                </mat-form-field>

          </mat-grid-tile>


          <mat-grid-tile>
             Parent Task :
          </mat-grid-tile>
       
          <mat-grid-tile>
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="" value="">
                </mat-form-field>

          </mat-grid-tile>


        </mat-grid-list>
        <mat-grid-list cols="8" rowHeight="2:1">
            <mat-grid-tile>
                Priority From :
            </mat-grid-tile>
         
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" value="">
                  </mat-form-field>
  
            </mat-grid-tile>
  
  
            <mat-grid-tile>
               Priority To :
            </mat-grid-tile>
         
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" value="">
                  </mat-form-field>
  
            </mat-grid-tile>


            <mat-grid-tile>
                Start Date :
            </mat-grid-tile>
         
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" value="">
                  </mat-form-field>
  
            </mat-grid-tile>
  
  
            <mat-grid-tile>
               End Date :
            </mat-grid-tile>
         
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="" value="">
                  </mat-form-field>
  
            </mat-grid-tile>


          </mat-grid-list>


    

  </mat-tab>


</mat-tab-group>